*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.App {
  margin-top: 40px;
  text-align: center;
}

.card{
  position: absolute;
  left: 100px
}

.card-back{
  position: absolute;
  border: 5px solid black;
  display: inline-block;
  content: "";
  width:224px;
  height: 314px;
  background: #f9838d;
  /* position: absolute; */
  top: 0px;
  left: 1px;
  border-radius: 11px;
}

.card:nth-child(2){
  left: 190px;
}
